<div class="alert alert-success mt-5 d-flex justify-content-between align-items-center h4" role="alert">
    BIENVENIDO {{nombre}}
    <button type="button" class="btn btn-secondary border border-dark rounded" id="logout">LogOut</button>
</div>